@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: #242424;
}

ul li {
  list-style: none;
  color: #e1e4e6;
}

.main-container {
  display: flex;
  /*background-color: #efebce;*/
  background-color: #d6d6d6;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-container {
  top: 0;
  position: sticky;
  background-color: #323031;
  width: 15%;
  padding: 20px;
  display: flex;
  height: 100vh;
 
}

.cards-container {
  flex: 1;
  overflow-y: auto;
  padding: 15px 30px;

}

/* common styling between all card types */
.card {
  background-color: #f5f2f2;
  border-radius: 15px;
  /* h-offset v-offset blur spread colour */
  padding: 15px;
  border: 1px solid rgba(156, 155, 155, 0.37);
}

.graph-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-small-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 175px;
}

.card-small {
  width: 100%;
}

.card-med-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 325px;
}

.card-med1 {
  width: 40%;
}

.card-med2 {
  flex: 1;
}

.card-large {
  width: 100%;
}

.card-large-container {
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card-med-container {
    flex-direction: column;
    row-gap: 35px;
  }

  .card-med {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .card-small-container {
    flex-direction: column;
    row-gap: 35px;
  }
}

.burger-menu-icon {
  display: none;
}

.burger-menu-icon:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .burger-menu-icon {
    display: block;
  }

  .sidebar-container {
    display: none;
  }
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #878486;
}
