@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: #242424;
}

ul li {
  list-style: none;
  color: #e1e4e6;
}

.main-container {
  display: flex;
  background-color: #d6d6d6;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-container {
  top: 0;
  position: sticky;
  background-color: #323031;
  width: 275px;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  height: 100vh;
 
}

.cards-container {
  flex: 1;
  overflow-y: auto;
  padding: 15px 30px;

}

/* common styling between all card types */
.card {
  background-color: #f5f2f2;
  border-radius: 15px;
  /* h-offset v-offset blur spread colour */
  padding: 15px;
  border: 1px solid rgba(156, 155, 155, 0.37);
}

.graph-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-small-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-small {
  min-width: 30%;
}


.med-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.card-med1 {
  min-width: 40%;
}

.card-med2 {
  min-width: 45%;
}

.card-large {
  width: 100%;
}





.burger-menu-icon {
  display: none;
  height: 30px;
  width: 30px;
}

.burger-menu-icon:hover {
  cursor: pointer;
}

.burger-menu {
  display: none;
}


/*
@media (max-width: 1045px) {
  .card-small-container {
    background-color: pink;
    display: block;
  }
}*/

@media (max-width: 829px) {
  .burger-menu-icon {
    display: block;
  }

  .burger-menu {
    display: block;
  }

  .sidebar-container {
    display: none;
  }

 
 
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #878486;
}

.card-header div {
  color: #878486;
}

.line-decor {
  width: 5px;
  height: 75px;
}
